{
  "presets": [
    [
      "latest",
      {
        "modules": false
      }
    ],
    "react"
  ],
  "plugins": [
    // "transform-decorators-legacy",
    "babel-plugin-transform-class-properties",
    "babel-plugin-transform-object-rest-spread"
  ]
}